@import "tailwindcss";

@theme {
  --color-brand-primary: #4a2c1d;
  --color-brand-secondary: #fdfbf7;
  --color-brand-accent: #e5c158;
  /* Gold color */
  --color-brand-dark: #3e2723;
  --color-brand-text: #2c1a12;
  --color-brand-bg: #faf9f6;

  --font-sans: "Inter", var(--font-sans);
  --font-serif: "Playfair Display", var(--font-serif);
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
  }
}