@import "tailwindcss";

@theme {
  --color-brand-primary: #331f16;
  --color-brand-secondary: #fef5e7;
  --color-brand-accent: #e6b840;
  /* Gold color */
  --color-brand-dark: #3e2723;
  --color-brand-text: #2c1a12;
  --color-brand-bg: #fae4a0;

  --font-sans: "Inter", var(--font-sans);
  --font-serif: "Playfair Display", var(--font-serif);
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
  }
}